@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body,
.container,
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  height: 100vh;
  background: url(bg.jpg) no-repeat center/cover;
  font-weight: bold;
}

.container {
  width: 700px;
  height: 750px;
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.container .card {
  position: relative;
  width: 450px;
  height: 600px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container .card .card-bg {
  position: absolute;
}

.container .card .card-bg img {
  width: 100%;
  border-radius: 10px;
}

.container .card .title {
  position: absolute;
  top: 50px;
  text-align: center;
  line-height: 40px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.container .card .title p:nth-child(1), .container .card .title p:nth-child(3) {
  font-family: "Eczar", serif;
  text-transform: uppercase;
  font-size: 25px;
}

.container .card .title p:nth-child(2) {
  font-family: "Berkshire Swash", cursive;
  font-size: 60px;
  letter-spacing: 2px;
}

.container .card .title p:nth-child(3) {
  font-size: 20px;
  margin-top: 10px;
}

.container .card img {
  width: 400px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  z-index: 1;
}

.container .card .santa {
  position: absolute;
}

@media (min-width: 1200px) {
  .container:hover .card {
    -webkit-transition: -webkit-transform .1s ease;
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease;
  }
  .container:hover .title {
    -webkit-transform: translate3d(0, 0, 160px);
            transform: translate3d(0, 0, 160px);
  }
  .container:hover .santa {
    -webkit-transform: translate3d(0, 0, 200px);
            transform: translate3d(0, 0, 200px);
  }
  .container:hover .tree {
    -webkit-transform: translate3d(0, 0, 120px);
            transform: translate3d(0, 0, 120px);
  }
}

@media (max-width: 1200px) {
  .card.on {
    -webkit-transition: -webkit-transform .1s ease;
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease;
  }
  .title.on {
    -webkit-transform: translate3d(0, 0, 160px);
            transform: translate3d(0, 0, 160px);
  }
  .santa.on {
    -webkit-transform: translate3d(0, 0, 200px);
            transform: translate3d(0, 0, 200px);
  }
  .tree.on {
    -webkit-transform: translate3d(0, 0, 120px);
            transform: translate3d(0, 0, 120px);
  }
}
/*# sourceMappingURL=style.css.map */
